<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<ul>
    <li> <%= film.name %></li>
    <li> <%= film.year %></li>
    <li> <%= film.annotation %></li>
    <li><img src = <%= film.image %>></li>
    <li> <%= rating %></li>
</ul>
</body>
</html>