<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<ul>
    <li> <%= film.name %></li>
    <li> <%= film.year %></li>
    <li> <%= film.annotation %></li>
    <li><img src = <%= film.image %>></li>
    <li> <%= rating %></li>
    <% for(var i=0; i<film.comments.length; i++) {%>
    <li> <%= film.comments[i].text %></li>
    <li> <%= film.comments[i].score %></li>
    <li> <%= film.comments[i].date %></li>
    <% } %>
</ul>
</body>
</html>